In [1]:
import numpy as np
import pandas as pd
from linear_regression import LinearRegression
from preprocessing import OneHotEncoder, StandardScaler
from metrics import RegressionMetrics
from imputer import SimpleImputer

In [2]:
df = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\Linear Regression\Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
print(f'The shape of this dataframe is {df.shape} and its information is below:')
df.info()

The shape of this dataframe is (545, 13) and its information is below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
X = df.drop('price', axis=1)
y = df['price']

In [6]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
X_num = X.select_dtypes(include='number')
X_num.head()

   area  bedrooms  bathrooms  stories  parking
0  7420         4          2        3        2
1  8960         4          4        4        3
2  9960         3          2        2        2
3  7500         4          2        2        3
4  7420         4          1        2        2

In [8]:
X_cat = df.select_dtypes(exclude='number')
X_cat.head()

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,yes,no,no,no,yes,yes,furnished
1,yes,no,no,no,yes,no,furnished
2,yes,no,yes,no,no,yes,semi-furnished
3,yes,no,yes,no,yes,yes,furnished
4,yes,yes,yes,no,yes,no,furnished

In [9]:
scaler = StandardScaler()
X_num = scaler.fit_transform(X_num)
y = scaler.fit_transform(y)

In [10]:
# Assuming you're using pandas
categorical = X.select_dtypes(include='object')
categorical.head()

,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,yes,no,no,no,yes,yes,furnished
1,yes,no,no,no,yes,no,furnished
2,yes,no,yes,no,no,yes,semi-furnished
3,yes,no,yes,no,yes,yes,furnished
4,yes,yes,yes,no,yes,no,furnished

In [12]:
encoder = OneHotEncoder()
X_enc = encoder.fit_transform(categorical)
X_enc

array([[0., 1., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 1., ..., 1., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.]], shape=(545, 15))

In [14]:
X = np.hstack([X_num, X_enc])
X

array([[ 1.04672629,  1.40341936,  1.42181174, ...,  1.        ,
         0.        ,  0.        ],
       [ 1.75700953,  1.40341936,  5.40580863, ...,  1.        ,
         0.        ,  0.        ],
       [ 2.21823241,  0.04727831,  1.42181174, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.70592066, -1.30886273, -0.57018671, ...,  0.        ,
         0.        ,  1.        ],
       [-1.03338891,  0.04727831, -0.57018671, ...,  1.        ,
         0.        ,  0.        ],
       [-0.5998394 ,  0.04727831, -0.57018671, ...,  0.        ,
         0.        ,  1.        ]], shape=(545, 20))

In [15]:
model = LinearRegression()
model.fit(X, y)

In [17]:
y_pred = model.predict(X)

In [18]:
y_pred

array([ 1.79532187e+00,  3.13895137e+00,  1.55809806e+00,  1.90705655e+00,
        1.03583597e+00,  1.95613748e+00,  2.70663438e+00,  2.01026631e+00,
        1.45460270e+00,  1.54148596e+00,  1.90486541e+00,  1.67943811e+00,
        1.25786503e+00,  4.86989031e-01,  7.72478429e-01,  2.35816863e-01,
        1.41712201e+00,  1.79151368e+00,  9.43319676e-01,  1.17782835e+00,
        1.67859551e-01,  1.00533908e+00,  6.55447049e-01,  9.77883381e-01,
        1.33814770e+00,  1.78447161e+00,  1.81281550e+00, -4.30216820e-02,
        1.10759963e+00,  1.31348775e+00,  1.43535867e+00,  1.03645856e+00,
        1.06093515e+00,  1.04277141e+00,  8.68589609e-01,  1.59422528e+00,
        1.36962691e+00,  1.92021484e+00,  8.63889060e-01,  1.34902030e+00,
        7.22420430e-01,  1.53157848e+00,  1.30449069e+00,  1.06996478e+00,
        1.37173816e+00,  8.85770244e-01,  1.30879981e+00,  1.48979538e+00,
        1.31810564e-01,  1.26297686e+00,  1.17322934e+00,  5.95155511e-01,
        1.52931767e+00,  1.32818505e+00,  9.50837782e-01,  5.95860261e-02,
        1.12674559e+00,  2.25322379e+00,  1.72756281e+00,  1.46637932e+00,
        5.17882397e-01,  3.27652978e-01,  9.10480645e-01,  1.65590474e+00,
        1.23821437e+00,  1.38849448e+00,  8.95274707e-01,  2.92761046e-01,
        3.45154680e-02,  1.73017921e+00,  8.99361126e-01,  9.96497024e-01,
        5.98944054e-01,  1.26097549e+00, -1.49615362e-04,  2.56430884e-01,
        1.29305819e+00,  1.30358023e+00,  8.29591074e-01,  1.06606762e+00,
        3.70527418e-01,  7.23931674e-01,  1.68448344e+00,  1.13218208e+00,
       -9.95193818e-02,  1.20442072e+00,  3.30318676e-01, -3.41845548e-01,
        8.33158578e-01,  1.53718223e+00, -2.72160369e-02,  4.71799218e-01,
        1.15464873e+00,  1.20620150e+00,  9.16064912e-01,  9.43671337e-01,
        5.19190803e-01,  7.45041259e-01,  1.09539152e+00,  4.62714377e-01,
        7.96292452e-01,  1.36608993e-01,  1.37789865e+00,  1.11210158e+00,
        9.05379417e-01,  2.01221422e-01,  9.06599768e-01,  2.97437275e-01,
       -2.28406428e-01,  8.77653045e-01,  4.92290861e-01,  7.71876452e-01,
        1.94342431e-01,  7.54636543e-01,  1.49046178e-01,  1.10938209e+00,
        5.60374250e-01,  4.50364049e-02,  4.58910270e-01,  8.22907496e-01,
        5.07117194e-01,  9.46850998e-01,  7.33290834e-01,  4.65673042e-01,
        9.44895369e-01,  1.42834324e+00,  2.09742290e-01,  7.52909640e-01,
        6.19155834e-01,  1.27302485e+00, -5.80207681e-01,  3.62073295e-01,
        2.45500916e-01, -5.73273031e-03,  3.87321599e-01,  9.33558671e-01,
        7.32557733e-01, -2.90682419e-01,  2.19195795e-01,  9.16397971e-01,
        9.07253551e-01,  1.19068156e+00,  1.01510645e+00,  4.03031438e-01,
        5.24186470e-01,  5.53701117e-02,  1.07769068e-01,  2.94540094e-01,
        2.94444548e-01,  6.24898824e-01,  4.72681458e-01,  5.93936009e-01,
        8.54622196e-01,  5.80057349e-01,  2.05117599e-01,  8.26715275e-01,
        2.23948807e-01,  1.49742579e-01, -6.83722784e-03,  3.92120584e-01,
        8.67989329e-01,  8.50782779e-01,  1.02889016e+00,  6.47039772e-01,
        1.15703736e+00,  3.87802460e-01,  7.26874060e-01,  4.53672120e-01,
        1.54835836e-01,  5.44445942e-01,  8.79529911e-02,  4.69654326e-01,
        1.20978076e+00,  4.94522926e-01,  1.79077375e-02,  1.23451790e+00,
        5.19859850e-01, -4.54274563e-02,  5.56080778e-01,  1.43300567e-01,
        5.31246215e-01,  6.86436056e-01, -4.65216390e-01,  1.68592225e-01,
        1.85848192e-01, -7.28121433e-01,  6.72016519e-01,  3.94104208e-01,
        1.35249958e-01, -8.39119532e-01,  7.08206482e-01,  6.40828604e-01,
        2.07208996e-01, -4.44522627e-01,  5.94075337e-01,  1.09678885e+00,
        2.13942661e-01,  3.37226305e-01,  9.74702330e-02, -3.88774167e-01,
        1.03376271e-01, -2.38172538e-02, -5.37639671e-01, -3.44622829e-01,
       -3.85530043e-01,  2.05155147e-01,  1.19958358e-01, -9.65426428e-02,
       -4.80756560e-01, -6.78982625e-01,  1.52372349e-01,  6.62986599e-01,
        8.64485044e-01,  8.44709147e-02, -8.59912056e-01, -5.22864500e-01,
        6.73324257e-02,  8.77531556e-01, -3.15691378e-02, -2.02019028e-01,
        1.43779967e+00, -6.99946714e-02,  7.12893764e-01,  5.16871615e-01,
        7.91133578e-01,  3.14530246e-01,  4.87966980e-01,  1.65301712e-01,
       -3.32561761e-01,  1.25684973e+00, -1.41170214e-01, -4.66691343e-01,
       -4.08793586e-01, -2.31428681e-01,  4.29093084e-01,  3.73700742e-01,
       -1.22625886e-01, -2.65131569e-01,  2.67092830e-01, -4.15079287e-01,
       -1.29511932e-01, -5.61875265e-01, -1.83372986e-01, -5.65966679e-01,
        2.62550190e-01,  2.56834437e-02, -5.71911824e-01,  8.05853836e-01,
       -1.54170038e-03,  8.39851810e-01, -4.09732735e-01, -3.16411640e-01,
       -6.73688321e-02, -3.65720475e-01,  2.79074505e-01, -2.64889603e-01,
       -2.61179420e-01, -2.56407181e-01, -4.32536132e-01,  2.12650929e-01,
       -9.23423559e-02, -6.56144567e-01, -5.82624509e-01, -8.24780489e-01,
       -3.42537737e-01, -4.09676376e-01, -2.83860677e-01, -3.16793602e-01,
        2.91460352e-02, -8.03472988e-01,  6.48088245e-01, -7.76516503e-01,
       -1.69140602e-01, -2.64003868e-01, -2.06520948e-01, -6.80395923e-01,
       -6.94537100e-01,  4.18684803e-01,  1.60241267e-01, -5.67928920e-01,
       -5.42858362e-01, -7.18114187e-02, -4.74969813e-01, -4.58691585e-01,
       -2.28577955e-01, -8.55746772e-02, -4.51877624e-01, -1.60076642e-01,
       -2.68538218e-02,  1.37898834e-03,  1.29643793e-01, -3.01347751e-01,
       -3.87386048e-01, -1.12071990e+00, -2.22584469e-01, -1.04087705e+00,
        6.09122438e-01, -1.08896200e-01, -7.76189876e-02,  4.08854190e-02,
       -3.34894668e-01, -3.25499992e-01, -3.04659399e-01, -5.55903589e-01,
        3.76299148e-01, -5.10136236e-01, -3.27315651e-01, -2.73375240e-01,
       -2.38022381e-01, -1.26791060e-02, -3.83305940e-01, -2.82480005e-01,
        8.80080743e-02, -9.87363673e-02, -4.95474484e-01, -2.57650861e-01,
        1.76315231e-01,  1.83001551e-01, -7.93390151e-01,  5.20607276e-01,
        1.10238093e-01,  4.18431138e-01,  4.29213885e-01, -1.92273412e-01,
       -1.28128888e-01, -1.66827111e-01, -9.95791398e-01,  9.24670734e-02,
        4.06919960e-01, -5.74240178e-01, -1.66049082e-01,  9.61435022e-01,
        1.98338301e-02, -7.23222624e-01, -6.01868597e-01,  3.19496666e-02,
        4.39270717e-01, -1.59671134e-01, -3.32266908e-01, -7.88429469e-02,
        2.40211811e-01,  2.76749786e-02,  2.78544926e-01, -8.90525159e-01,
       -9.20776048e-01, -3.29721425e-01, -4.07629249e-01, -8.75812069e-01,
       -5.12945171e-01, -4.83846030e-01, -3.61076306e-01, -9.53657448e-01,
       -5.51179028e-01, -1.43703290e-01, -1.45716826e-01,  5.13925533e-02,
        2.02581878e-01, -1.95645570e-01, -6.40111200e-01, -9.35442634e-01,
       -8.95786183e-01, -5.72427141e-01, -8.71753059e-01, -7.39817807e-01,
       -5.26645551e-01, -6.87617217e-01, -7.33269214e-01, -7.15379701e-01,
       -9.14219868e-01, -9.30939579e-01, -1.23464920e-01, -4.54528435e-01,
       -7.34698066e-01, -3.30487723e-01, -2.35406051e-01, -1.81226151e-01,
        2.68249888e-01, -1.12346752e-01,  4.06061903e-01, -4.62735495e-01,
       -8.35284407e-01, -5.71717888e-01, -4.87051319e-01,  5.96295178e-01,
       -1.04144118e+00, -1.14701983e+00, -7.48661366e-01, -1.27175494e-01,
       -8.36354389e-01, -4.49843310e-01, -7.29441473e-01, -5.24763106e-01,
       -5.93012279e-01, -8.15263249e-01, -9.01044835e-01, -5.00215745e-01,
       -7.94496557e-01, -4.74530829e-01, -7.52163090e-01, -3.06536576e-01,
       -6.80625919e-01,  7.24099300e-01, -8.52402483e-01,  1.39632717e-01,
       -9.00822034e-01, -1.16036633e+00, -4.42827632e-01, -2.37217992e-01,
       -1.09967061e+00, -8.99064243e-01, -1.05646110e+00, -2.37217992e-01,
       -4.50087098e-01, -1.84514647e-03, -1.09440959e+00,  4.72427794e-01,
       -6.07547010e-01, -9.25678555e-01, -5.23897575e-02, -3.84956908e-01,
       -8.37475708e-01, -1.00102641e+00, -9.32417043e-01, -1.06961366e+00,
       -7.45220114e-01, -4.83998372e-01, -1.21524891e+00, -2.89905228e-01,
       -9.40509721e-01, -6.25449735e-01, -1.09287828e+00, -2.08553088e-01,
       -1.93144149e-01, -6.72126763e-01, -5.56115996e-01, -1.09440959e+00,
       -2.89905228e-01, -6.35564263e-01, -1.06415905e+00, -1.33775205e+00,
       -5.81006696e-01, -7.41655956e-01, -6.85903052e-01, -1.06961885e+00,
       -9.13596330e-01, -1.01360677e+00, -2.90133804e-01, -1.00196006e+00,
       -5.80752541e-01, -1.13455564e+00, -4.70311507e-01, -5.39351804e-01,
        3.73730718e-01, -1.06822108e+00, -2.91602243e-01, -6.46376890e-01,
       -7.19483548e-01, -9.64177124e-01, -8.10049268e-01, -1.16543341e+00,
       -4.06515781e-01, -3.46726054e-01, -8.68854179e-01, -8.68054811e-01,
       -2.19028656e-01, -1.12597573e+00, -9.40259967e-01, -3.83856745e-01,
       -1.05427453e+00, -7.99413978e-01, -1.12408536e+00, -8.23201829e-01,
       -1.15723541e-01, -5.66991928e-01, -7.56059844e-01, -7.86160976e-01,
       -1.99373602e-01, -9.73406036e-01, -9.17905448e-01, -1.00097543e+00,
       -7.35065115e-01, -1.27818727e+00, -1.13099184e+00, -2.47757576e-01,
       -1.45480984e+00, -1.14833509e+00, -6.37996005e-01, -5.43246234e-01,
       -3.23139522e-01, -7.58739723e-01, -6.03317196e-01, -1.13217894e+00,
       -6.20255526e-01, -8.20652010e-01, -7.31398929e-01, -6.36420561e-01,
       -1.09967061e+00, -1.10835130e+00, -9.17686577e-01,  1.59817651e-01,
       -1.19456298e+00, -1.47210210e+00, -8.15540653e-01, -8.38108855e-01,
       -7.73908593e-01, -3.57365044e-01, -1.47190816e+00, -1.15228085e+00,
       -1.04706037e+00,  1.98145565e-01, -1.41291558e+00, -1.37345790e+00,
       -7.63443107e-01, -7.37710188e-01, -9.52097271e-01, -7.00501057e-01,
       -1.11702535e+00, -1.07729635e+00, -1.00785391e+00, -7.42777275e-01,
       -6.13025888e-01, -1.37655210e+00, -7.69555696e-01, -1.30532508e-01,
       -1.19647346e+00, -1.14701983e+00, -1.20752161e+00, -1.22081866e+00,
       -1.39542938e+00, -6.00541600e-01, -1.31929034e+00, -3.32338921e-01,
       -1.46007086e+00, -1.00076139e+00, -8.58907677e-01, -1.02994713e+00,
       -9.69603219e-01, -1.09282931e+00, -1.14583610e+00, -1.30748625e+00,
       -7.29671883e-01, -1.27742446e+00, -1.14965034e+00, -1.18762854e+00,
       -8.10049268e-01])

In [19]:
metrics = RegressionMetrics(y, y_pred)
print('Baseline Model:', y.mean())
print("Test MSE:", metrics.mse())
print("Test R²:", metrics.r2_score())

Baseline Model: 2.0859970224149731e-16
Test MSE: 0.3207220367198318
Test R²: 0.679277963280168

In [20]:
print("Learned weights:", model.weights)
print("Learned bias:", model.bias)

Learned weights: [ 0.28516712  0.04640989  0.26859903  0.21356421  0.13247623 -0.08431091
  0.14456373 -0.04866334  0.10891616 -0.06673589  0.12698871 -0.07784562
  0.13809843 -0.18635128  0.2466041  -0.13453825  0.19479107  0.10143732
  0.07871945 -0.11990395]
Learned bias: 0.06025281698077473